/* ==========================================================================
App custom styles
========================================================================== */


/*  Site Variables Defined   ================================================ */

/*  - Theme Variables */

/* Header */
$header-bg-color    : #63b3c9;
$header-inner-border: 1px solid #afd8e3;
$header-font-color  : #ffffff;