 		

 		<style type="text/css">

 			@media screen and (min-width: 769px) and (max-width: 2000px) { 
   				.showInAdminLoginss{
   					margin-left: 25%;
   				}
			}

			@media screen and (min-width: 320px) and (max-width: 769px) { 
				.showInAdminLoginss{
   					margin-left: 0%;
   				}
			}

 		</style>
	

	<!-- Toast Notification for Adding the new Event.. -->

            <div class="alerts-container slideDown showAlertOnSuccessEntry" style="display:none">
             <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
              </button>
               <strong> Successfully updated </strong>
             </div> 
            </div>

            <!-- Toast Notification for Adding the new Event.. -->

            <div class="alerts-container slideDown showAlertOnWrongPassword" style="display:none">
             <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
              </button>
               <strong>Unauthorized password</strong>
             </div> 
            </div>




	

 		<div class="main" role="main">
            
            <div id="page-content" class="">
                <div class="scrollable container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-headers cus-panels-with-pad">
                                <h3>Settings</h3>
                            </div> <!-- .page-header End -->
                            

                            <div class="contents">
                                <div class="row">
                                    <div class="col-sm-12 cus-panels-with-pad pad-25">

                                 <form name="myform" ng-submit="update();" novalidate>

                                 			<div class="row" ng-show="showInAdminLogin">
                                                <div class="col-sm-6 showInAdminLoginss">
                                                    <div class="box-set">
                                                        <fieldset>
                                                            <legend>Change Password</legend>
                                                            <div class="form-group">
                                                                <label for="currentpass">Current Password</label>
                                                                <input type="password" class="form-control" id="currentpass" name="currentPassword" ng-model="currentPassword" >
                                                                <!-- <span class="required hidden">Validation Error</span> -->
                                                                <span class="required" ng-show="showAlertOnWrongPassword">Wrong Password</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="newpass">New Password</label>
                                                                <input type="password" class="form-control" id="newpass" name="newPassword" ng-model="newPassword" >
                                                                <!-- <span class="required hidden">Validation Error</span> -->
                                                                <span class="required" ng-show="submitted && myform.newPassword.$invalid">Required</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="confimpass">Confirm Password</label>
                                                                <input type="password" class="form-control" id="confimpass" name="confirmPassword" ng-model="confirmPassword" >
                                                                <!-- <span class="required hidden">Validation Error</span> -->
                                                                <span class="required" ng-show="submitted && myform.confirmPassword.$invalid">Required</span>
                                                                <span class="required" ng-show="confirmPasswordCheck">Password should match</span>
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                </div>
                                            </div>



                                     
                                            <div class="row" ng-show="showInUserLogin">
                                                <div class="col-sm-6">
                                                    <div class="box-set">
                                                        <fieldset>
                                                            <legend>Change Password</legend>
                                                            <div class="form-group">
                                                                <label for="currentpass">Current Password</label>
                                                                <input type="password" class="form-control" id="currentpass" name="currentPassword" ng-model="currentPassword" >
                                                                <!-- <span class="required hidden">Validation Error</span> -->
                                                                <span class="required" ng-show="showAlertOnWrongPassword">Wrong Password</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="newpass">New Password</label>
                                                                <input type="password" class="form-control" id="newpass" name="newPassword" ng-model="newPassword" >
                                                                <!-- <span class="required hidden">Validation Error</span> -->
                                                                <span class="required" ng-show="submitted && myform.newPassword.$invalid">Required</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="confimpass">Confirm Password</label>
                                                                <input type="password" class="form-control" id="confimpass" name="confirmPassword" ng-model="confirmPassword" >
                                                                <!-- <span class="required hidden">Validation Error</span> -->
                                                                <span class="required" ng-show="submitted && myform.confirmPassword.$invalid">Required</span>
                                                                <span class="required" ng-show="confirmPasswordCheck">Password should match</span>
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class=" box-set">
                                                        <fieldset>
                                                            <legend>Notification</legend>
                                                        </fieldset>
                                                        <div class="row">
                                                             <div class="col-md-4"><label for="email">Notify me on:</label></div>
                                                                <div class="col-md-4"><input type="checkbox" ng-model="sendEmail" ng-init="sendEmail='N'" ng-true-value="'Y'" ng-false-value="'N'"> <label for="email">Email</label> </div>
                                                                <div class="col-md-4"><input type="checkbox" ng-model="sendMobile" ng-init="sendMobile='N'" ng-true-value="'Y'" ng-false-value="'N'"> <label for="email">Mobile</label> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center mar-10-0">
                                                <input type="submit" value="Update" class="sec-cus-buttons ma-btn">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--<div class="row">
                                    <div class="col-sm-12 cus-panels-with-pad pad-25">
                                        
                                    </div>
                                </div>-->
                             </div>


                        </div>
                    </div>               
                </div>
            </div><!-- #page-content End -->
        </div> <!-- .main End -->