


 <!-- Toast Notification for Adding the new Event.. -->

                <div class="alerts-container slideDown showAlertOnSuccessPassword" style="display:none">
                 <div class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                  </button>
                   <strong>Password sent to your mail successfully </strong>
                 </div> 
                </div>





<div class="app-box" ng-hide="showtextMessage">
        <div class="preloader spinner"></div>
        <div class="forget">
            <div class="container-fluid pad-box">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="login-box cus-panels-with-pad">
                            <div class="login-logo text-center">
                                <img src="images/crowdtxt-logo.png" alt="CrowdTXT">
                            </div>
                            <p class="mar-15-7">If you can't remember your user name or password, enter email address, We'll send you instruction to reset your password.</p>
                            <form name="myform" ng-submit="submitForgotPassword();" novalidate>
                                <div class="form-group">
                                    <label for="mail">Email ID</label>
                                    <input type="email" ng-model="email" name="email" ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"  class="form-control" id="mail" required>
                                    <!-- <span class="required hidden">Validation Error</span> -->
                                    <span class="required" ng-show="submitted && myform.email.$invalid">Required</span>
                                    <span class="required" ng-show="submitted && myform.email.$error.pattern">valid email id</span>
                                </div>
                                
                                <div class="text-center">
                                    <button type="submit" class="sec-cus-buttons">Send</button>
                                </div>
                            </form>
                            
                        </div>
                        <div class="text-center pad-10">
                            <a ng-click="returnToLogin();">Remember Password, Return to Log In</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer"><div class=""> Copyright © 2015 CrowdAround Inc. All Rights Reserved.</div></div>
        </div>
    </div> <!-- .app-box End -->







    <div class="app-box" ng-show="showMessage">
        <div class="preloader spinner"></div>
        <div class="forget">
            <div class="container-fluid pad-box">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="login-box cus-panels-with-pad">
                            <div class="login-logo text-center">
                                <img src="images/crowdtxt-logo.png" alt="CrowdTXT">
                            </div><br><br>

                            <div class="text-center"><h2>A link will be send to your email id provided.</h2></div>
                            
                        </div>
                        <div class="text-center pad-10">
                            <a ng-click="returnToLogin();">Remember Password, Return to Log In</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer"><div class=""> Copyright © 2015 CrowdAround Inc. All Rights Reserved.</div></div>
        </div>
    </div> <!-- .app-box End -->






<!-- 
    <div class="app-box" ng-show="showPassword">
        <div class="preloader spinner"></div>
        <div class="forget">
            <div class="container-fluid pad-box">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="login-box cus-panels-with-pad">
                            <div class="login-logo text-center">
                                <img src="images/crowdtxt-logo.png" alt="CrowdTXT">
                            </div>
                            <p class="mar-15-7">Please enter your password</p>
                            <form name="myformPassword" ng-submit="submitPassword();" novalidate>
                                <div class="form-group">
                                    <label for="password">Enter Password</label>
                                    <input type="password" ng-model="password" name="password" class="form-control" id="password" required>
                                   
                                    <span class="required" ng-show="submitted1 && myformPassword.password.$invalid">Required</span><br>
                                    

                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" ng-model="confirmPassword" name="confirmPassword" class="form-control" id="confirmPassword" required>
                                    
                                    <span class="required" ng-show="submitted1 && myformPassword.confirmPassword.$invalid">Required</span>
                                    <span class="required" ng-show="submitted2 && myformPassword.confirmPassword.$invalid">Password is not matching</span>
                                  
                                </div>
                                
                                <div class="text-center">
                                    <button type="submit" class="sec-cus-buttons">Send</button>
                                </div>
                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="footer"><div class=""> Copyright © 2015 CrowdAround Inc. All Rights Reserved.</div></div>
        </div>
    </div> 
 -->



