 
<!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/90a642fb.main.css">
    <link rel="stylesheet" href="styles/cb88f8a0.vendor.css">


 <!-- .header-wrapper End -->
        <div class="main app-box home" role="main">
            
            <div id="page-content" class="">
                <div class="scrollable container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-headers cus-panels-with-pad">
                                <h3>Initial Setup</h3>
                            </div> <!-- .page-header End -->
                            <div class="contents">
                               <div class="row">
                                   <div class="col-sm-12 cus-panels-with-pad">
                                    <div class="text-center">
                                        <h2>Great, all set!</h2>
                                        <p class="text-muted">Now, invite users to app using any of the options below</p>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="text-center options">
                                                <a href="" ng-click="uploadData();">
                                                    <i class="fa fa-cloud-upload"></i>
                                                    <br>
                                                    <h5>Invite by uploading user details</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="text-center options">
                                                <a href="" ng-click="inviteInEmail();">
                                                    <i class="fa fa-envelope"></i>
                                                    <br>
                                                    <h5>Invite using email address</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="text-center options">
                                                <a href="" ng-click="inviteInMobile();">
                                                    <i class="fa fa-commenting"></i>
                                                    <br>
                                                    <h5>Invite using mobile no</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               </div>
                                <form action="">
                                            
                                </form>
                            </div> <!-- .content End -->
                        </div>
                    </div>               
                </div>
            </div><!-- #page-content End -->
        </div> <!-- .main End -->