 <!-- .header-wrapper End -->
        <div class="main" role="main">
            
            <div id="page-content" class="">
                <div class="scrollable container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-headers cus-panels-with-pad">
                                <h3>Mobile Invite</h3>
                            </div> <!-- .page-header End -->
                            <div class="contents">
                               <div class="row">
                                   <div class="col-sm-12 cus-panels-with-pad">
                                       <div class="row">
                                           <div class="col-sm-4 col-sm-offset-4">
                                               <div class="panel panel-default">
                                                  <div class="panel-heading">
                                                    <h3 class="panel-title">Invite - Enter mobile no in the To field</h3>
                                                  </div>
                                                  <div class="panel-body">
                                                    <div class="form">
                                                        <form class="">
                                                           <table>
                                                               <tr>
                                                                   <td><label>To:</label></td>
                                                                   <td>
                                                                       <textarea rows="1" class="" name="to" spellcheck="false" autocomplete="false" autocapitalize="off" autocorrect="off" tabindex="1" dir="ltr" aria-label="To"></textarea>
                                                                   </td>
                                                               </tr>
                                                           </table>
                                                        </form>
                                                    </div>
                                                    <div class="content">
                                                        <h4>Welcome</h4>
                                                        <p>Message content goes here</p>
                                                    </div>
                                                  </div>
                                                   <div class="action-but"><div class="text-right"><button type="submit" class="sec-cus-buttons ma-btn">Send</button></div></div>
                                                </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                                <form action="">
                                            
                                </form>
                            </div> <!-- .content End -->
                        </div>
                    </div>               
                </div>
            </div><!-- #page-content End -->
        </div> <!-- .main End -->