<div class="main" role="main">
            
            <div id="page-content" class="">
                <div class="scrollable container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-headers cus-panels-with-pad">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3>Trip Notifications</h3>
                                    </div>
                                    <div class="col-sm-6 page-options text-right">
                                       <div class="text-right">
                                           <ul class="reset pull-right">
                                                <!--<li class="option">
                                                    <i class="fa fa-filter"></i>
                                                </li>-->
                                                <li class="option">
                                                    <i class="fa fa-sort-alpha-asc"></i>
                                                </li>
                                                <li class="option">
                                                    <i class="fa fa-search"></i>
                                                </li>
                                                <li class="option">
                                                    <!--<button type="button" class="sec-cus-buttons" data-url="#"><i class="fa fa-plus"></i> Add New Group</button>-->
                                                </li>
                                            </ul>
                                       </div>
                                    </div>
                                </div>
                                
                            </div> <!-- .page-header End -->
                            <div class="contents">
                              <div class="row cus-panels-with-pad lisiting note-trip">
                                    <div class="col-sm-4">
                                          <h4>User name</h4>
                                      </div>
                                    <div class="col-sm-4">
                                          <p><i class="fa fa-plane"></i> San Jose → Austin</p>
                                      </div>
                                    <div class="col-sm-4 text-right">
                                          <p>Nov 29, 2015</p>
                                      </div>
                                </div>
                               <div class="row cus-panels-with-pad lisiting note-trip">
                                    <div class="col-sm-4">
                                          <h4>User name</h4>
                                      </div>
                                    <div class="col-sm-4">
                                          <p><i class="fa fa-plane"></i>Austin → San Jose</p>
                                      </div>
                                    <div class="col-sm-4 text-right">
                                          <p>Dec 29, 2015</p>
                                      </div>
                                </div>
                            </div> <!-- .content End -->
                        </div>
                    </div>               
                </div>
            </div><!-- #page-content End -->
        </div> <!-- .main End -->